{% extends 'base.html.twig' %}

{% block title %}Votre compte a bien été créé{% endblock %}

{% block body %}

    <div class="container customreset">
        <div class="row">
            <div class="col-12">
                <p>
                    Votre compte a bien été créé. Un email de confirmation vous a été envoyé.
                </p>
                
            </div>
        </div>
    </div>
{% endblock %}