<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
<p><a href="{{ url('app_verify_email', {'token': validation_token}) }}">Confirmer mon compte</a></p>
</p>

<p>
    Cheers!
</p>
